* {
  box-sizing: border-box;
}

body,
input,
a {
  all: unset;
}

a {
  cursor: pointer;
}

header {
  width: 100%;
}

.header-container {
  display: flex;
  gap: 40px;
  background: #f0f6ff;
}

.nav-login a {
  display: flex;
  justify-content: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: white;
  gap: 10px;
  padding: 16px 20px;
  width: 128px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px 200px;
}

header a {
  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header .header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 360px 0 360px;
  gap: 40px;
}

header span {
  color: #000;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}

header span.header-text2 {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-top a {
  display: flex;
  justify-content: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: white;
  padding: 16px 20px;
  width: 350px;
}

.header-page {
  width: 1200px;
  height: 590px;
  margin-top: 50px;
  padding: 0 41px;
  background: linear-gradient(180deg, #c4c4c400 67.68%, #f0f6ff 94.76%);
}

.header-content {
  position: relative;
  width: 1118px;
}

.img-header {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px #00000014;
  overflow: hidden;
}

.shadow-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #c4c4c400 67.68%, #8f8f8f74 94.76%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-link {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 157px;
  padding: 120px 0 50px;
}

.link-textbox {
  margin-top: 150px;
}

section span {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

span.link-text2 {
  width: 291px;
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-picturebox {
  position: relative;
  display: flex;
  border-radius: 15px;
  background: #f0f6ff;
  width: 550px;
  height: 450px;
}

.link-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link-pictures > img {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 244px;
}

.link-pictures .img-link2-border {
  position: absolute;
  border: 2px solid #6d6afe;
  border-radius: 11px;
  width: 215px;
  height: 212px;
  margin-top: -6px;
}

.ic-download {
  position: absolute;
  top: 312px;
  right: 142px;
  bottom: 92px;
  left: 362px;
  width: 46px;
  height: 46px;
  z-index: 1;
}

.sec-folder {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 50px 0;
  gap: 157px;
}

.folder-picturebox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f6ff;
  border-radius: 15px;
  width: 550px;
  padding: 114px 68px 66px 68px;
}

.folder-picture {
  display: flex;
  align-items: center;
}

.folder-picture > img {
  width: 414px;
  height: 270px;
}

.folder-textbox {
  margin-top: -100px;
}

.folder-textbox span.folder-text2 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.3px;
}

.sec-share {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 157px;
}

.share-picturebox {
  width: 550px;
  height: 449px;
  border-radius: 25px;
  background-image: url(/img/img-header.png);
  background-repeat: no-repeat;
  background-size: 900px 591px;
  background-position: -164px -63px;
  box-shadow: 0px 4px 25px 0px #00000014;
}

.share-textbox {
  margin-top: -100px;
}

.share-text2 {
  background: linear-gradient(99deg, #6d7ccd 19.76%, #5288858c 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share-bg-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 25px;
  background: #00000066;
}

.share-bg-picture > img {
  width: 416px;
  height: 271px;
  margin-top: 60px;
}

.sec-search {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 50px 0;
  gap: 157px;
}

.search-picturebox {
  position: relative;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #f0f6ff;
  overflow: hidden;
}

.search-bg > img {
  position: absolute;
  top: 55px;
  left: 60px;
  width: 619px;
  height: 584px;
  border-radius: 15px;
  box-shadow: 0px 4px 25px 0px #00000014;
}

.search-bg .search-shadow {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, #ffffff00 48.72%, #000 128.17%);
}

.search-textbox {
  margin-top: -100px;
}

.search-text2 {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  background: #111322;
  color: #cfcfcf;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 160px;
  line-height: normal;
  margin-top: 120px;
  padding: 32px 104px 64px 104px;
}

footer > img {
  width: 20px;
  height: 20px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

footer a {
  color: #cfcfcf;
}
