body {
  margin: 0 auto;
  padding-top: 238px;
  padding-bottom: 252px;
  background: var(--linkbrary-bg, #F0F6FF);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px ;
  background: var(--linkbrary-bg, #F0F6FF);
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo > a img {
  width: 210.583px;
  height: 38px;
}
.logo .txt-container {
  display: flex;
  flex-direction: flex-start;
  gap: 8px  ;
}
.container .contents > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.error {
  border-radius: 8px;
  border: 1px solid var(--linkbrary-red, #FF5B56);
  background: var(--linkbrary-white, #FFF);
}
.errorComment {
  color: var(--linkbrary-red, #FF5B56);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.writing {
  border-radius: 8px;
  border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
  background: var(--linkbrary-white, #FFF);
}
.normal {
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
}
.container .contents > form .email {
  display: flex;
  flex-direction: column;
  gap: 12px ;
}
.container .contents > form #email {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--linkbrary-white, #FFF);
  outline: none;
}
.container .contents > form .password {
  display: flex;
  flex-direction: column;
  gap: 12px ;
}
.container .contents > form .re-password {
  display: flex;
  flex-direction: column;
  gap: 12px ;
}
.container .contents > form #pw {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  outline: none;
  background: var(--linkbrary-white, #FFF);
}
.container .contents > form #re-pw {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  outline: none;
  background: var(--linkbrary-white, #FFF);
}
.container .contents > form .password {
  position: relative;
}
.container .contents > form .re-password {
  position: relative;
}
.container .contents > form .eye {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 46px 15px 0 0 ;
  height: 30px;
  font-size: 22px;
  cursor: pointer;
}
.container .contents .login{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px ;
}
.container .contents .login #btn {
  width: 400px;
  box-sizing: border-box;
  padding: 16px 20px;
  border-radius: 8px;
  border: none;
  color: #F5F5F5;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  cursor: pointer;
}
.container .social-login {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  padding: 12px 24px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);
}
.container .social-login .icons {
  display: flex;
  gap: 16px;
}

/* mobile */
@media (min-width: 375px){
  body {
    display: flex;
    padding: 120px 32px 233px 33px;
    flex-direction: column;
    align-items: center;
  }  
}
  .container{
    display: inline-flex;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

/* tablet */
@media (min-width: 768px){
  body {
    margin: 0 auto;
    padding-top: 238px;
    padding-bottom: 252px;
    background: var(--linkbrary-bg, #F0F6FF);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px ;
    background: var(--linkbrary-bg, #F0F6FF);
  }
}

/* pc */
@media (min-width: 1200px){
  
}