* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  /* width: 1920px; */
  background-color: #f0f6ff;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px 20px 200px;
  height: 54px;

  & img {
    width: 133px;
    height: 24px;
  }
}

#login_btn {
  width: 128px;
  height: 54px;
  background: linear-gradient(
    90deg,
    rgba(109, 108, 245, 1) 0%,
    rgba(137, 221, 250, 1) 100%
  );
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 16px, 20px, 16px, 20px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f0f6ff;
  padding-top: 60px;
}

.color_font {
  background: linear-gradient(
    90deg,
    rgba(112, 108, 243, 1) 0%,
    rgba(238, 138, 135, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.color_font2 {
  background: linear-gradient(
    90deg,
    rgba(254, 138, 138, 1) 0%,
    rgba(164, 206, 255, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.color_font3 {
  background: linear-gradient(
    90deg,
    rgba(111, 186, 255, 1) 0%,
    rgba(255, 216, 139, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.color_font4 {
  background: linear-gradient(
    90deg,
    rgba(112, 124, 199, 1) 0%,
    rgba(152, 169, 198, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.color_font5 {
  background: linear-gradient(
    90deg,
    rgba(143, 216, 236, 1) 0%,
    rgba(159, 184, 212, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.font {
  font-size: 48px;
  font-weight: 700;
}

main h1 {
  font-size: 64px;
}

.main_img {
  width: 1114px;
  display: flex;
  justify-content: center;
}

#link_btn {
  width: 350px;
  height: 54px;
  background: linear-gradient(
    90deg,
    rgba(109, 108, 245, 1) 0%,
    rgba(137, 221, 250, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 8px;
  padding: 16px, 20px, 16px, 20px;
  margin-bottom: 60px;
  cursor: pointer;
}

.img_wrap {
  display: flex;
  background-color: #f0f6ff;
  border-radius: 15px;
  width: 550px;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img_wrap2 {
  position: relative;
}

.down_icon {
  position: absolute;
  width: 18px;
  border: none;
  z-index: 1;
  left: 244px;
  bottom: 27px;
  cursor: pointer;
}

.purple {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #6d6afe;
  border-radius: 50%;
  left: 230px;
  bottom: 12px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.description {
  color: #6b6b6b;
  line-height: 150%;
}

.back_img {
  opacity: 0.8;
  border-radius: 25px;
}

.front_img {
  position: absolute;
  z-index: 1;
  top: 120px;
  right: 70px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111322;
  color: white;
  padding: 32px 104px 64px 104px;
  margin-top: 200px;
}

footer > div {
  display: flex;
  gap: 24px;
  font-size: 16px;
}

.faq {
  color: #cfcfcf;
}

.icon_wrap {
  position: relative;
  width: 116px;

  & img {
    width: 18px;
    height: 18px;
    top: -5px;
  }
}

.codeit {
  color: #676767;
  font-size: 16px;
}

.container {
  background-color: #f0f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sign_input {
  width: 400px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  padding: 18px 15px 18px 15px;
  margin-top: 12px;
}

.sign_input:focus {
  border: 1px solid #6d6afe;
}

.input_password {
  background-image: url(/img/eye-off.png);
  background-repeat: no-repeat;
  background-position: right;
}

.sign_btn {
  background: linear-gradient(
    90deg,
    rgba(109, 106, 254, 1) 0%,
    rgba(106, 227, 254, 1) 100%
  );
  color: white;
  width: 400px;
  height: 54px;
  border-radius: 8px;
  border: none;
  padding: 16px 20px 16px 20px;
}

.social_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7effb;
  border: 1px solid #ccd5e3;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;

  & img {
    width: 42px;
  }
}
