* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--linkbrary-bg, #F0F6FF);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  height: 38px;
}

header .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 238px 0 0;
  align-items: center;
}

header .ask-singup {
  display: flex;
  gap: 8px;
}

.ask-singup-text {
  color: var(--black, #000);
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.ask-singup-link a {
  color: var(--linkbrary-primary-color, #6D6AFE);
  /* Linkbrary/body 1-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
  
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 30px;
  margin: 0 auto;
}

.content {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form div:nth-child(1) {
  padding: 0 0 24px;
}

form div:nth-child(2) {
  padding: 0 0 24px;
}

form div:nth-child(3) {
  padding: 0 0 30px;
}

form div:nth-child(4) {
  padding: 0 0 32px;
}

form label {
  color: var(--black, #000);
/* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

form input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-white, #FFF);
}

input:focus {
  outline-color: var(--linkbrary-primary-color);
  
}

form button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));

  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-sns {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);
}

.content-sns-text {
  color: var(--linkbrary-gray-100, #373740);

/* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-sns-logo {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.content-sns-logo .img {
  

}