:root {
  --linkbrary-primary-color: #6d6afe;
  --linkbrary-red: #ff5b56;
  --the-julge-black: #111322;
  --linkbrary-white: #ffffff;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-60: #9fa6b2;
  --linkbrary-gray-20: #ccd5e3;
  --linkbrary-gray-10: #e7effb;
  --linkbrary-bg: #f0f6ff;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--linkbrary-bg);
  padding-top: 238px;
  padding-bottom: 116px;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 210.583px;
  height: 38px;
}

.link-box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.text {
  color: var(--black, #000);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.linktext {
  color: var(--linkbrary-primary-color);

  /* Linkbrary/body 1-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.input-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.eye-icon {
  position: absolute;
  top: 51px;
  right: 15px;
  width: 16px;
  height: 16px;
}

.form-name,
.input-check {
  color: var(--black, #000);

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);

  color: var(--linkbrary-gray-100);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.form-input:focus {
  border-color: var(--linkbrary-primary-color);
  outline: none;
}

.input-check {
  position: relative;
  bottom: 6px;
  color: var(--linkbrary-red);
}

.form-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-btn-gradient {
  cursor: pointer;
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(
      91deg,
      var(--linkbrary-primary-color) 0.12%,
      #6ae3fe 101.84%
    )
  );
  border: 0px;

  color: var(--grey-light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login-box {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

.social-login-text {
  color: var(--linkbrary-gray-100);

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
