.buttons {
  display: flex;
  gap: 1rem;
}
.button {
  padding: 8px 12px;
  align-items: center;
  border-radius: 5px;
  border: 0.5px solid var(--Linkbrary-primary-color, #6D6AFE);
  background-color: #fff;
  font-size: 0.8rem;
}

