.fnc {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
}

.fnc .text {
  color: var(--Linkbrary-gray60, #9FA6B2);
  font-family: Pretendard;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fnc .image {
  display: flex;
  align-items: flex-end;
  width: 15px;
  height: 15.8px;
  flex-shrink: 0;
}