/* MainSearch */
.MainSearch {
  display: flex;
  align-items: center;
  position: relative;
}
.MainSearch .searchBar{
  display: flex;
  width: 1060px;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #F5F5F5;
  outline: none;
  border-style: none;
  text-indent: 1.5rem;
}
.MainSearch .readingGlasses{
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
}