.files {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.MainFiles {
  display: inline-flex;
  gap: 1rem;
}
.File {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px 15px;
  width: 340px;
  height: 334px;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}
.File .star {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.File .item01  {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #F0F6FF;
}

.item02 {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.item02 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 20px;
}
.item02 .kebab {
  color: #333236;
  position: absolute;
  right: 1.2rem;
}
.item02 .timeAgo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.item02 .timeAgo .timeDiff {
  color: #666;
  font-family: 'Pretendard-Regular';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item02 .description {
  width: 100%;
  height: 49px;
  align-self: stretch;
  overflow:hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.item02 .editTime {
  height: 19px;
  align-self: stretch;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.item02 .thumbnail {
  cursor: pointer;
}
