.AddFolderModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  background: var(---Gray-White, #FFF);
}
.AddFolderModal .titles {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.AddFolderModal .titles .title {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.AddFolderModal .titles .subTitle {
  color: var(--Linkbrary-gray60, #9FA6B2);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.AddFolderModal .folderList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.AddFolderModal .folderList .folder {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  position: relative;
}
.AddFolderModal .folderList .folder:hover {
  border-radius: 8px;  
  background: var(--Linkbrary-bg, #F0F6FF);
}
.AddFolderModal .folderList .folder .check {
  position: absolute;
  right: 1rem;
}
.AddFolderModal .folderList .folder .textBundle {
  display: flex;
  width: 264px;
  align-items: center;
  gap: 8px;
}
.AddFolderModal .folderList .folder .textBundle .title {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.AddFolderModal .folderList .folder .textBundle .linksCount {
  color: var(--Linkbrary-gray60, #9FA6B2);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.AddFolderModal .button {
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}
.AddFolderModal .button .text {
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

