@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* nav */
.nav {
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F6FF;
}

.nav .box02 {
  display: flex;
  width: 1440px;
  padding: 20px 0 60px 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.nav .box02 .User .UserNickName {
  color: var(--text-color-light-mode, #000);
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.nav .box02 .User .UserFiles {
  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Pretendard-Regular';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}