:root {
  --linkbrary-primary-color: #6d6afe;
  --linkbrary-red: #FF5B56;
  --the-julge-black: #111322;
  --linkbrary-white: #FFF;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-60: #9FA6B2;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-bg: #F0F6FF;
}

body {
  display: flex;
  width: 100%;
  padding: 238px 0px 116px 0px;
  justify-content: center;
  align-items: center;

  background: var(--linkbrary-bg);
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.linkbrary-logo {
  width: 210.583px;
  height: 38px;
}

.goto-signin {
  display: flex;
  gap: 8px;
}

.goto-signin>span {
  color: var(--black, #000);

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.goto-signin>a {
  color: var(--linkbrary-primary-color);

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

label {
  color: var(--black, #000);

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.password-eye {
  position: relative;
}

input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);
}

input:focus {
  border-radius: 8px;
  border: 1px solid var(--linkbrary-primary-color);
  background: var(--linkbrary-white);
  outline: none;
}

.password-eye>img {
  position: absolute;
  right: 15px;
  top: 18px;
  bottom: 18px;
}

button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;

  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

footer {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

footer>span {
  color: var(--linkbrary-gray-100);

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.google,
.kakao {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}