html, body {
  margin: 0 0;
}

.Footer {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 30px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
}
.Footer .content {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: #111322;
}
.Footer .content .box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.Footer .box .item01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color:#676767
}
.Footer .box .item02 {
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
  color: #676767;
}
.Footer .box .item03 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  display: flex;
  color: #676767;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Header*/
.Header{
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F6FF;
}
.Header .box01 {
  display: flex;
  padding: 33px 200px 32px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.Header .box01 .item01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch; 
}
.Header .box02 {
  display: flex;
  width: 1440px;
  padding: 20px 0 60px 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.Header .AddInput {
  display: flex;
  padding: 60px 320px 90px 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.Header .AddInput .AddInput-input {
  display: flex;
  width: 800px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  background: var(--Linkbrary-white, #FFF);
  position: relative;
}
.Header .AddInput .AddInput-input input {
  width: 100%;
  height: 1rem;
  margin: 0 3rem 0 1rem;
  border-style: none;
  outline: none;
  text-indent: 0.5rem;
}
.Header .AddInput .AddInput-fnc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.Header .AddInput .AddInput-fnc button {
  display: flex;
  width: 6rem;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  border-style: none;
}
.Header .AddInput .AddInput-fnc button .text {
  color: var(--Grey-Light, #F5F5F5);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Header .AddInput .AddInput-fnc img {
  position: absolute;
  left: 1rem;
}
.Header .box02 .User {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.Header .box02 .User .item01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.Header .box02 .User .item01 .UserAvatar {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.Header .box02 .User .UserAvatar img {
  width: 4rem;
  height: 4rem;
}
.Header .box02 .User .UserNickName {
  color: var(--text-color-light-mode, #000);
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.Header .box02 .User .UserFiles {
  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Pretendard-Regular';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}